USE [ASM_java6]
GO
/****** Object:  Table [dbo].[access_log]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[access_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ip_address] [varchar](255) NULL,
	[timestamp] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[username] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[fullname] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[phone_number] [varchar](255) NULL,
	[role] [bit] NULL,
	[role_id] [varchar](255) NULL,
	[user_id] [varchar](255) NULL,
	[avatar_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[albums]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[albums](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](255) NULL,
	[release_year] [int] NULL,
	[title] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[daily_access_dto]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[daily_access_dto](
	[date] [datetime2](6) NOT NULL,
	[access_count] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[id] [bigint] NOT NULL,
	[createdate] [date] NULL,
	[songid] [bigint] NOT NULL,
	[userid] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passwordresettoken]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passwordresettoken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[expiry_date_time] [datetime2](6) NULL,
	[token] [varchar](255) NULL,
	[account_username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlist_song]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlist_song](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[playlist_id] [bigint] NULL,
	[song_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlists]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlists](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[creator] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[report_account]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_account](
	[role] [varchar](255) NOT NULL,
	[quan] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[singer_album]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[singer_album](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[album_id] [bigint] NULL,
	[singer_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[singers]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[singers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[song_genres]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[song_genres](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[genre_id] [bigint] NULL,
	[song_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[song_listen]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[song_listen](
	[listen_id] [bigint] IDENTITY(1,1) NOT NULL,
	[listen_time] [datetime2](6) NULL,
	[song_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[listen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[song_singer]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[song_singer](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[singer_id] [bigint] NULL,
	[song_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[songs]    Script Date: 11/12/2023 7:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[songs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[path] [nvarchar](255) NULL,
	[album_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[access_log] ON 

INSERT [dbo].[access_log] ([id], [ip_address], [timestamp]) VALUES (1, N'42.119.232.123', CAST(N'2023-11-30T07:32:59.1311970' AS DateTime2))
INSERT [dbo].[access_log] ([id], [ip_address], [timestamp]) VALUES (2, N'113.161.52.175', CAST(N'2023-12-01T14:27:22.5990790' AS DateTime2))
INSERT [dbo].[access_log] ([id], [ip_address], [timestamp]) VALUES (3, N'183.80.3.70', CAST(N'2023-12-03T08:25:02.5441070' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[access_log] OFF
GO
INSERT [dbo].[accounts] ([username], [email], [fullname], [password], [phone_number], [role], [role_id], [user_id], [avatar_url]) VALUES (N'US000001', N'phuong@gmail.com', N'Uyen Phuong', N'$2a$10$o4PtRExZ0GlkT.NuuYE8gu5UYMrSqjLseD164AWBT7HtsT8VpxDOW', N'0328645096', NULL, N'USER', NULL, NULL)
INSERT [dbo].[accounts] ([username], [email], [fullname], [password], [phone_number], [role], [role_id], [user_id], [avatar_url]) VALUES (N'US000002', N'uyen@gmail.com', N'Uyên Phuong', N'$2a$10$X9IowT3EoeJAnOsM7YOtDOTbqmWQEg412ZVcJGb774EokrRfkEiTm', N'0328645096', NULL, N'ADMIN', NULL, NULL)
INSERT [dbo].[accounts] ([username], [email], [fullname], [password], [phone_number], [role], [role_id], [user_id], [avatar_url]) VALUES (N'US000003', N'alex@gmail.com', N'Alexed', N'$2a$10$fgc6Cjb7k1.PppWoZe5PWugRYjqA3f01BrtugJDz635R3h4C/NxJO', N'0328645096', NULL, N'USER', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[albums] ON 

INSERT [dbo].[albums] ([id], [image], [release_year], [title]) VALUES (1, N'taylor.jpg', 2008, N'Fearless')
INSERT [dbo].[albums] ([id], [image], [release_year], [title]) VALUES (2, N'Divide.jpg', 2017, N'Divide')
INSERT [dbo].[albums] ([id], [image], [release_year], [title]) VALUES (3, N'Off The Wall.jpg', 1979, N'Off The Wall')
SET IDENTITY_INSERT [dbo].[albums] OFF
GO
INSERT [dbo].[favorites] ([id], [createdate], [songid], [userid]) VALUES (156, CAST(N'2023-12-06' AS Date), 2, N'US000006')
INSERT [dbo].[favorites] ([id], [createdate], [songid], [userid]) VALUES (157, CAST(N'2023-12-06' AS Date), 3, N'US000006')
INSERT [dbo].[favorites] ([id], [createdate], [songid], [userid]) VALUES (159, CAST(N'2023-12-06' AS Date), 8, N'US000006')
GO
SET IDENTITY_INSERT [dbo].[genres] ON 

INSERT [dbo].[genres] ([id], [name]) VALUES (1, N'Pop')
INSERT [dbo].[genres] ([id], [name]) VALUES (2, N'Rock')
INSERT [dbo].[genres] ([id], [name]) VALUES (3, N'R&B')
SET IDENTITY_INSERT [dbo].[genres] OFF
GO
SET IDENTITY_INSERT [dbo].[passwordresettoken] ON 

INSERT [dbo].[passwordresettoken] ([id], [expiry_date_time], [token], [account_username]) VALUES (1, CAST(N'2023-12-09T17:06:46.5963730' AS DateTime2), N'9bb6666e-dec2-490a-a4cb-b443e4b6cdfe', N'US000006')
SET IDENTITY_INSERT [dbo].[passwordresettoken] OFF
GO
SET IDENTITY_INSERT [dbo].[playlist_song] ON 

INSERT [dbo].[playlist_song] ([id], [playlist_id], [song_id]) VALUES (6, 4, 17)
INSERT [dbo].[playlist_song] ([id], [playlist_id], [song_id]) VALUES (7, 4, 23)
INSERT [dbo].[playlist_song] ([id], [playlist_id], [song_id]) VALUES (8, 5, 15)
SET IDENTITY_INSERT [dbo].[playlist_song] OFF
GO
SET IDENTITY_INSERT [dbo].[playlists] ON 

INSERT [dbo].[playlists] ([id], [name], [creator]) VALUES (4, N'pl1', N'US000006')
INSERT [dbo].[playlists] ([id], [name], [creator]) VALUES (5, N'pl2', N'US000006')
INSERT [dbo].[playlists] ([id], [name], [creator]) VALUES (6, N'new1', N'US000007')
SET IDENTITY_INSERT [dbo].[playlists] OFF
GO
INSERT [dbo].[roles] ([id], [name]) VALUES (N'ADMIN', N'ADMIN')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'USER', N'USER')
GO
SET IDENTITY_INSERT [dbo].[singer_album] ON 

INSERT [dbo].[singer_album] ([id], [album_id], [singer_id]) VALUES (1, 1, 1)
INSERT [dbo].[singer_album] ([id], [album_id], [singer_id]) VALUES (2, 2, 2)
INSERT [dbo].[singer_album] ([id], [album_id], [singer_id]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[singer_album] OFF
GO
SET IDENTITY_INSERT [dbo].[singers] ON 

INSERT [dbo].[singers] ([id], [name]) VALUES (1, N'Taylor Swift')
INSERT [dbo].[singers] ([id], [name]) VALUES (2, N'Ed Sheeran')
INSERT [dbo].[singers] ([id], [name]) VALUES (3, N'Michael Jackson')
SET IDENTITY_INSERT [dbo].[singers] OFF
GO
SET IDENTITY_INSERT [dbo].[song_genres] ON 

INSERT [dbo].[song_genres] ([id], [genre_id], [song_id]) VALUES (1, 1, 1)
INSERT [dbo].[song_genres] ([id], [genre_id], [song_id]) VALUES (2, 3, 3)
INSERT [dbo].[song_genres] ([id], [genre_id], [song_id]) VALUES (3, 2, 5)
SET IDENTITY_INSERT [dbo].[song_genres] OFF
GO
SET IDENTITY_INSERT [dbo].[song_singer] ON 

INSERT [dbo].[song_singer] ([id], [singer_id], [song_id]) VALUES (1, 1, 1)
INSERT [dbo].[song_singer] ([id], [singer_id], [song_id]) VALUES (2, 2, 2)
INSERT [dbo].[song_singer] ([id], [singer_id], [song_id]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[song_singer] OFF
GO
SET IDENTITY_INSERT [dbo].[songs] ON 

INSERT [dbo].[songs] ([id], [image], [name], [path], [album_id]) VALUES (1, N'Blank Space.jpg', N'Blank Space', N'/asset/audio/1-800-273-8255.mp3
', 1)
INSERT [dbo].[songs] ([id], [image], [name], [path], [album_id]) VALUES (2, N'Shake It Off.jpg', N'Shake It Off', N'/asset/audio/drunk-keshi.mp3
', 1)
INSERT [dbo].[songs] ([id], [image], [name], [path], [album_id]) VALUES (3, N'Thinking Out Loud.jpg', N'Thinking Out Loud', N'/asset/audio/Ehrling-Typhoon.mp3
', 2)
SET IDENTITY_INSERT [dbo].[songs] OFF
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FKrxh4jy51ntuxfw4nu117h0in4] FOREIGN KEY([user_id])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FKrxh4jy51ntuxfw4nu117h0in4]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FKt3wava8ssfdspnh3hg4col3m1] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FKt3wava8ssfdspnh3hg4col3m1]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK6i60djvd34y1rvegenufbw4dh] FOREIGN KEY([songid])
REFERENCES [dbo].[songs] ([id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK6i60djvd34y1rvegenufbw4dh]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FKocjjmfmpqs0ai2kfeyisera37] FOREIGN KEY([userid])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FKocjjmfmpqs0ai2kfeyisera37]
GO
ALTER TABLE [dbo].[passwordresettoken]  WITH CHECK ADD  CONSTRAINT [FK56wyjlwa43y1u0107ipju5wlt] FOREIGN KEY([account_username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[passwordresettoken] CHECK CONSTRAINT [FK56wyjlwa43y1u0107ipju5wlt]
GO
ALTER TABLE [dbo].[playlist_song]  WITH CHECK ADD  CONSTRAINT [FKhimqe90is8m3m0mm8rmtmht6] FOREIGN KEY([playlist_id])
REFERENCES [dbo].[playlists] ([id])
GO
ALTER TABLE [dbo].[playlist_song] CHECK CONSTRAINT [FKhimqe90is8m3m0mm8rmtmht6]
GO
ALTER TABLE [dbo].[playlist_song]  WITH CHECK ADD  CONSTRAINT [FKi0j8d774d3em1dgonqnc1x1g7] FOREIGN KEY([song_id])
REFERENCES [dbo].[songs] ([id])
GO
ALTER TABLE [dbo].[playlist_song] CHECK CONSTRAINT [FKi0j8d774d3em1dgonqnc1x1g7]
GO
ALTER TABLE [dbo].[playlists]  WITH CHECK ADD  CONSTRAINT [FKq47t9aoh2te3409x4ohwgjjwk] FOREIGN KEY([creator])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[playlists] CHECK CONSTRAINT [FKq47t9aoh2te3409x4ohwgjjwk]
GO
ALTER TABLE [dbo].[singer_album]  WITH CHECK ADD  CONSTRAINT [FK6p08mrhc7pnfrsjbgsv04ibo1] FOREIGN KEY([album_id])
REFERENCES [dbo].[albums] ([id])
GO
ALTER TABLE [dbo].[singer_album] CHECK CONSTRAINT [FK6p08mrhc7pnfrsjbgsv04ibo1]
GO
ALTER TABLE [dbo].[singer_album]  WITH CHECK ADD  CONSTRAINT [FKmkxvi5faqngom1g34lqsty9gp] FOREIGN KEY([singer_id])
REFERENCES [dbo].[singers] ([id])
GO
ALTER TABLE [dbo].[singer_album] CHECK CONSTRAINT [FKmkxvi5faqngom1g34lqsty9gp]
GO
ALTER TABLE [dbo].[song_genres]  WITH CHECK ADD  CONSTRAINT [FK55mmt06br4cdjyvl0rpk6dvn1] FOREIGN KEY([genre_id])
REFERENCES [dbo].[genres] ([id])
GO
ALTER TABLE [dbo].[song_genres] CHECK CONSTRAINT [FK55mmt06br4cdjyvl0rpk6dvn1]
GO
ALTER TABLE [dbo].[song_genres]  WITH CHECK ADD  CONSTRAINT [FKxds8owij907p9cernosbpof5] FOREIGN KEY([song_id])
REFERENCES [dbo].[songs] ([id])
GO
ALTER TABLE [dbo].[song_genres] CHECK CONSTRAINT [FKxds8owij907p9cernosbpof5]
GO
ALTER TABLE [dbo].[song_listen]  WITH CHECK ADD  CONSTRAINT [FKj37koshguwjw1lri11xgrb3on] FOREIGN KEY([song_id])
REFERENCES [dbo].[songs] ([id])
GO
ALTER TABLE [dbo].[song_listen] CHECK CONSTRAINT [FKj37koshguwjw1lri11xgrb3on]
GO
ALTER TABLE [dbo].[song_singer]  WITH CHECK ADD  CONSTRAINT [FK1sngeopmant61m9mg03rgvcyn] FOREIGN KEY([singer_id])
REFERENCES [dbo].[singers] ([id])
GO
ALTER TABLE [dbo].[song_singer] CHECK CONSTRAINT [FK1sngeopmant61m9mg03rgvcyn]
GO
ALTER TABLE [dbo].[song_singer]  WITH CHECK ADD  CONSTRAINT [FKgiqo14hwrl4y8qqeh8j128onq] FOREIGN KEY([song_id])
REFERENCES [dbo].[songs] ([id])
GO
ALTER TABLE [dbo].[song_singer] CHECK CONSTRAINT [FKgiqo14hwrl4y8qqeh8j128onq]
GO
ALTER TABLE [dbo].[songs]  WITH CHECK ADD  CONSTRAINT [FKte4gkb2cqtk2erfa87oopj2cj] FOREIGN KEY([album_id])
REFERENCES [dbo].[albums] ([id])
GO
ALTER TABLE [dbo].[songs] CHECK CONSTRAINT [FKte4gkb2cqtk2erfa87oopj2cj]
GO
